webee-businesslogic/target
webee-businesslogic/bin
webee-businesslogic/logs/*
webee-core/target
webee-core/bin
webee-core/logs/*
webee-integration/target
webee-integration/bin
webee-integration/logs/*
webee-persistence/target
webee-persistence/target/*
webee-persistence/bin
webee-persistence/logs/*
webee-service/target
webee-service/bin
webee-service/logs/*
webee-web/target
webee-web/bin
webee-web/logs/*
webee-ws/target
webee-ws/bin
webee-ws/logs/*
webee-service-ws/*
webee/target
webee/gen
/target

*.iml
.settings*
.classpath
.project
.springBeans
*.jasper
*.class